@import "../../styles/utils/variables";

.home {
  text-align: center;
  &__header {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    text-shadow: 0 0 15px $uc-black;
    animation: headerIn 10s;
  }

  &__video, &__background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    pointer-events: none;
  }

  &__video {
    object-fit: cover;
  }

  &__background {
    background-image: url('../../assets/img/hero-poster.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@keyframes headerIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}